<div class='mb-3 mx-auto bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded-lg'>
  <%= link_to article do %>
    <i class="fas fa-user-edit"></i>
    <span>@<%= User.find(article.user_id).username %></span>
    <h2 class='font-bold'><%= article.title %></h2>
    <p><%= article.updated_at.strftime('%b %d, %Y') %></p>
  <% end %>
</div>
