<div class="px-10">
  <div class="my-5 text-center rounded overflow-hidden p-10">
    <h1 class="mb-4 text-3xl font-black">Articles</h1>
    <p class="text-lg leading-snug">
      Our blog has <%= Article.public_count %> articles and counting!
    </p>
  </div>

  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li class="w-full md:w-1/2 mx-auto">
          <%= render 'articles/article_item', article: article %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
