
<nav>
  <ul class="flex p-4 bg-black text-white text-base">
    <li class="ml-0 mr-auto text-xl my-auto">
      <%= link_to root_path do %>
        <i class="far fa-comment-alt"></i>
        <span>Bloggy</span>
      <% end %>
    <li class="mr-10 my-auto">
      <span>Username</span>
    </li>
    <li class="mr-6">
      <%= link_to "New Article", new_article_path, 
          class: 'block w-32 text-center bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded' %>
    </li>
    <li class="">
      <a class="block w-32 text-center bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded" href="#">Log out</a>
    </li>
  </ul>
</nav>
